<%- include('partials/header.ejs') %>

<%- include('partials/headerNavigation.ejs') %>
<main id="main-feeds">
    <div class="container">
        <section id="posts">
            <% courses.forEach(c => { %>
                <div class="post-card">
                    <div class="card-body">
                        <h3><%- c.course %></h3>
                        <span class="date"><%- c.postedON %></span>
                        <p><%- c.description %></p>
                        <a class="link" href="<%- c.link %>"><%- c.link %></a>
                    </div>
                    <div class="card-footer">
                        <p><%- c.subject %></p>
                        <span class="save">
                            <i class="far fa-bookmark"></i>
                        </span>
                    </div>
                </div>
            <%})  %>
        </section>
        <section id="sidePanel">
            <p>Quick Links</p>
            <ul>
                <li>
                    <a href="#" target="_blank">
                        <i class="bi bi-stopwatch"></i>
                        <span>Time Table</span>
                    </a>
                </li>
                <li>
                    <a href="https://drive.google.com/drive/folders/1wcR_ovIGtnMui2ZgUipthLCRQRXuZLmJ?usp=sharing" target="_blank">
                        <i class="bi bi-device-hdd"></i>
                        <span>Google Drive</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/groups/549130559628570" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                        <span>Facebook Group</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC_w7dvQStESeyVCy7sG9P5A" target="_blank">
                        <i class="fab fa-youtube"></i>
                        <span>YouTube Channel</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/MDS-ISALIB/mds-cms-2.0" target="_blank">
                        <i class="fab fa-github"></i>
                        <span>GitHub Repository</span>
                    </a>
                </li>
                <li>
                    <a href="/archive" target="_blank">
                        <i class="bi bi-box"></i>
                        <span>Archive</span>
                    </a>
                </li>
            </ul>
            <footer>
                <p>mdsbeja@gmail.com</p>
                <p>mds.islaib@gmail.com</p>
                <p>Made with 0.0001% 💜, <a href="https://aymkh.tn" id="author-link" target="_blank">AymKh ↗</a> &copy; 2021</p>
            </footer>
        </section>
        <!-- end of container -->
    </div>
</main>

<%- include('partials/footer.ejs') %>