<%- include('partials/header.ejs') %>

<%- include('partials/headerPublic.ejs') %>
<main id="main-feeds">
    <div class="container">
        <section id="sidePanel">
            <ul id="main-side-links">
                <li>
                    <a href="/">
                        🏠 <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        ⏰ <span>Time Table</span>
                    </a>
                </li>
                <li>
                    <a href="https://drive.google.com/drive/folders/1wcR_ovIGtnMui2ZgUipthLCRQRXuZLmJ?usp=sharing" target="_blank">
                        💾 <span>Google Drive</span>
                    </a>
                </li>
                <li>
                    <a href="/archive">
                        📰 <span>Archive</span>
                    </a>
                </li>
                <li>
                    <a href="/subjects">
                        📚 <span>Subjects</span>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        🤔 <span>About</span>
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        🙊 <span>Contact</span>
                    </a>
                </li>
            </ul>
            <!-- SOCIAL MEDIA LINKS -->
            <div id="social-links">
                <a href="https://github.com/MDS-ISALIB/mds-cms-2.0" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.youtube.com/channel/UC_w7dvQStESeyVCy7sG9P5A" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://www.facebook.com/groups/549130559628570" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>

            <footer>
                <p>Made with 0.0001% 💜, by <a href="/contributors" id="Contributers-link">Contributors</a> &copy; 2021-2022.</p>
            </footer>
        </section>
        <section id="posts">
            <% courses.forEach(c => { %>
                <div class="post-card">
                    <div class="card-body">
                        <h3><%- c.course %></h3>
                        <span class="date"><%- c.postedON %></span>
                        <p><%- c.description %></p>
                        <a class="link" href="<%- c.link %>"><%- c.link %></a>
                    </div>
                    <div class="card-footer">
                        <a href="/course/<%- c.subject %>"><%- c.subject %></a>
                        <span class="save">
                            <i class="far fa-bookmark"></i>
                        </span>
                    </div>
                </div>
            <%})  %>
        </section>
        <!-- end of container -->
    </div>
</main>

<%- include('partials/footer.ejs') %>